// colors
$bg_color: #56242f;
$fg_color: #F8F8F2;
$fg_faded: #F8F8F2CF;
$fg_dark: #ffade2;
$fg_nav: #ffade2;

$bg_panel: #56242f;
$bg_elements: #56242f;
$bg_overlays: #4d212f;
$bg_hover: #56242f;

$grey: #56242f;
$dark_grey: #56242f;
$darker_grey: #56242f;
$darkest_grey: #56242f;
$border_grey: #ffbdc8;

$accent: #ffade2;
$accent_light: #ffcce1;
$accent_dark: #a8002a;
$accent_border: #ffade2;

$play_button: #a8002a;
$play_button_hover: #ffade2;

$more_replies_dots: #a8002a;
$error_red: #a8002a;

$verified_mark: #ffbdc8;
$icon_text: $fg_color;

$tab: $fg_color;
$tab_selected: $accent;

$shadow: rgba(0,0,0,.6);
$shadow_dark: rgba(0,0,0,.2);

//fonts
$font_0: Helvetica Neue;
$font_1: Helvetica;
$font_2: Arial;
$font_3: sans-serif;
$font_4: fontello;
