body {
  --bg_color: #4d212f;
  --fg_color: #ffc9e9;
  --fg_faded: #ffc9e9CF;
  --fg_dark: #ff95b8;
  --fg_nav: #ff95b8;
  --bg_panel: #4d212f;
  --bg_elements: #4d212f;
  --bg_overlays: #4d212f;
  --bg_hover: #4d212f;
  --grey: #56242f;
  --dark_grey: #4d212f;
  --darker_grey: #4d212f;
  --darkest_grey: #4d212f;
  --border_grey: #4d212f;
  --accent: #ff95b8;
  --accent_light: #ffc9e9;
  --accent_dark: #fb1c64;
  --accent_border: #ff95b8;
  --play_button: #fb1c64;
  --play_button_hover: #ff95b8;
  --more_replies_dots: #fb1c64;
  --error_red: #fb1c64;
  --verified_mark: #ff84cd;
  --icon_text: #ffc9e9;
  --tab: #ffc9e9;
  --tab_selected: #ff95b8;
  --profile_stat: #ffc9e9;
}